.full-table-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .table-responsive {
    flex: 1;
    overflow: auto;
  }


.full-table-container {
  height: 100vh;
  overflow-y: auto;
}

