/* You can add global styles to this file, and also import other style files */
.btn-custom {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.btn-custom:hover {
  background-color: #0056b3;
}

.custom-modal-content {
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
